{{#if success_msg}}
<div class="alert alert-success">
   <i class="fa fa-check" style="font-size:24px"></i> &nbsp
   {{success_msg}}
</div>
{{/if}}

{{#if error_msg}}
<div class="alert alert-danger">
   <i class="fa fa-close" style="font-size:24px;color:red"></i>&nbsp
   {{error_msg}}
</div>
{{/if}}