<div class="registerStudentForm">
   <form action="/student/add" method="Post" enctype="multipart/form-data" id="studentform">
      <div id="studentForm">
         <div class="panel panel-primary">
            <div class="panel-heading" style="background: darkblue;">Feed Back reports Not Available</div>
            <div class="panel-body">
               FeedBack Reports Not Yet Available .....
               <table class="table table-hover table-dark">
                  <thead>
                     <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                     </tr>
                     <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                     </tr>
                     <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                     </tr>
                  </tbody>
               </table>

            </div>
         </div>
         <div class="panel panel-primary">
            <div class="panel-heading" style="background: darkblue;">Home Visit Reports</div>
            <div class="panel-body">
               Home Reports Not yet Available .....

            </div>
         </div>
      </div>
   </form>
</div>