<style>
   .fa:hover {
      cursor: pointer;
   }

   * a {
      text-decoration: none;

   }

   .ck-editor__editable_inline {
      min-height: 200px;
      max-height: 400px;
   }
</style>
{{> _msg}}
<div class="registerStudentForm">
   <div id="allstudents">
      <div class="panel panel-primary">
         <div class="panel-heading" style="background: darkblue;">Students Full Details</div>
         <div class="panel-body">
            student profile here

         </div>
      </div>
   </div>

</div>