<div class="container">
   <div class="panel-heading" style="background: darkblue; margin-top:10px; color:white;">Contact Us</div>
   <div class="panel-body">
      {{> _errors}}
      {{>_msg}}

      <form action="/contact/add" method="Post" style="margin-top: 60px;">
         <div class="controls" style="width: 60%; margin:auto;">
            <div class="row">
               <div class="col-md-6">
                  <div class="form-group">
                     <input id="form_name" type="text" name="name" class="form-control"
                        placeholder="Please enter your firstname *">
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group">
                     <input type="text" name="surname" class="form-control" placeholder="Please enter your lastname *">
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-6">
                  <div class="form-group">
                     <input id="form_email" type="email" name="email" class="form-control"
                        placeholder="Please enter your email *">

                  </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group">
                     <input id="form_phone" type="tel" name="phone" class="form-control"
                        placeholder="Please enter your phone">

                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="form-group">
                     <label for="form_message">Message *</label>
                     <textarea id="form_message" name="message" class="form-control" placeholder="Message For Us *"
                        rows="4"></textarea>

                  </div>
               </div>
               <div class="col-md-12">
                  {{!-- <input type="submit" class="btn btn-success btn-send" value="Send message"> --}}
                  <button type="submit">Contact</button>
               </div>
            </div>
         </div>
      </form>
   </div>
</div>