<link rel="stylesheet" href="/public/stylesheets/style.css">
<div class="menus">
   <div class="row">
      <ul class="nav nav-tabs">
         <li class="active"><a onclick="studentsFunction()">Register Student</a></li>
         <li><a onclick="parentsFunction()">Register Parent</a></li>
         <li><a onclick="reportsFunction()">Reports</a></li>
         <li><a onclick="scholarsFunction()">Scholars</a></li>
      </ul>
   </div>

</div>
<div class="container-fluid" style="margin-top: 5px;">
   <div class="row">
      <div id="studentsdiv" style="display:none ;">
         {{!-- students left menu --}}
         <div class="col-md-2 col-sm-2 hidden-xs">
            <div class="row">
               <div class="card">
                  <ul class="list-group">
                     <li class="list-group-item">register Students</li>
                     <li class="list-group-item">Students</li>
                     <li class="list-group-item">Reports</li>
                  </ul>
               </div>
            </div>
         </div>
         {{!-- students right content --}}
         <div class="col-md-10 col-sm-10">
            <div class="registerStudentForm">
               <form action="">
                  <div id="studentForm">
                     <div class="panel panel-primary">
                        <div class="panel-heading" style="background: darkblue;">Students Info</div>
                        <div class="panel-body">
                           <div class="form-group col-md-6">
                              <input type="text" class="form-control"
                                 placeholder="Sponsorship Number example U2345xxxxxx">
                           </div>
                           <div class="form-group m-0 p-0 col-md-6">
                              <input type="text" class="form-control" placeholder="Full Name">
                           </div>
                           <div class="form-group col-md-6">
                              <input type="date" class="form-control" placeholder="Date of Birth ">
                           </div>
                           <div class="form-group m-0 p-0 col-md-6">
                              <select class="form-control" id="exampleFormControlSelect1">
                                 <option>Female</option>
                                 <option>Male</option>
                                 <option>Others</option>
                              </select>
                           </div>
                           <div class="form-group col-md-6">
                              <input type="text" class="form-control" placeholder="Religion /Faith ">
                           </div>
                           <div class="form-group col-md-6">
                              <input type="text" class="form-control" placeholder="Class / Educational Level ">
                           </div>
                           <div class="form-group col-md-6">
                              <input type="text" class="form-control"
                                 placeholder="Place of Residence / Country and City ">
                           </div>
                           <div class="form-group col-md-6">
                              <input type="text" class="form-control" placeholder="Parents Contact ">
                           </div>
                           <div class="form-group col-md-6">
                              <input type="text" class="form-control" placeholder="Email @example.com">
                           </div>
                           <div class="form-group col-md-6">
                              <label for="customFile" class="col-sm-4 col-form-label">Passport image</label>
                              <div class="col-sm-6">
                                 <input type="file" class="custom-file-input" id="customFile" style="height: 80px;">
                              </div>
                           </div>
                           <span class="pull-right" onclick="changediv()" style="cursor: pointer;">Next <i
                                 class="fa fa-arrow-right" style="font-size:20px;color:darkblue;"></i></span>

                        </div>
                     </div>
                  </div>
                  <div id="parentForm">
                     <div class="panel panel-primary">
                        <div class="panel-heading" style="background: darkblue;">Student's parent Info</div>
                        <div class="panel-body">
                           <div class="form-group col-md-6">
                              <input type="text" class="form-control" placeholder="Parent's First Name">
                           </div>
                           <div class="form-group m-0 p-0 col-md-6">
                              <input type="text" class="form-control" placeholder="Parent's Second Name">
                           </div>
                           <div class="form-group col-md-6">
                              <input type="number" class="form-control" placeholder="Age ">
                           </div>
                           <div class="form-group col-md-6">
                              <input type="text" class="form-control" placeholder="Occupation ">
                           </div>
                           <div class="form-group m-0 p-0 col-md-6">
                              <select class="form-control" id="exampleFormControlSelect1">
                                 <option>Relationship to Child</option>
                                 <option>Father</option>
                                 <option>Mother</option>
                                 <option>Gurdian</option>
                              </select>
                           </div>
                           <div class="form-group col-md-6">
                              <input type="number" class="form-control" placeholder="Number of Siblings ">
                           </div>
                           <div class="form-group col-md-6">
                              <input type="text" class="form-control" placeholder="Contact ie +256 07xxxx ">
                           </div>
                           <div class="form-group col-md-6">
                              <input type="text" class="form-control"
                                 placeholder="Place of Residence / Country and City ">
                           </div>
                           <div class="form-group col-md-6">
                              <input type="text" class="form-control" placeholder="Parents emial @xxx ">
                           </div>
                           <div class="form-group col-md-6">
                              <label for="customFile" class="col-sm-5 col-form-label">Map attouchment</label>
                              <div class="col-sm-6">
                                 <input type="file" class="custom-file-input" id="customFile" style="height: 80px;">
                              </div>
                           </div>
                           <a class="btn btn-default pull-right"
                              style="background:darkblue;color:aliceblue;">register</a>
                           <span class="pull-left" onclick="changeback()" style="cursor: pointer;"> <i
                                 class="fa fa-arrow-left" style="font-size:20px;color:darkblue;"></i> Back </span>

                        </div>
                     </div>
                  </div>

               </form>

            </div>
         </div>
      </div>
      <div id="parentsdiv" style="display:none ;">
         {{!-- Parents left menu --}}
         <div class="col-md-2 col-sm-2 hidden-xs">
            <div class="row">
               <div class="card">
                  <ul class="list-group">
                     <li class="list-group-item">register parent</li>
                     <li class="list-group-item">All Parents info</li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="col-md-10">
            <div class="registerparentdiv">
               <form action="">
                  <div class="panel panel-primary">
                     <div class="panel-heading" style="background: darkblue;">Register Student's Parent</div>
                     <div class="panel-body">
                        <div class="form-group col-md-6">
                           <input type="text" class="form-control" placeholder="Parent's First Name">
                        </div>
                        <div class="form-group m-0 p-0 col-md-6">
                           <input type="text" class="form-control" placeholder="Parent's Second Name">
                        </div>
                        <div class="form-group col-md-6">
                           <input type="number" class="form-control" placeholder="Age ">
                        </div>
                        <div class="form-group col-md-6">
                           <input type="text" class="form-control" placeholder="Occupation ">
                        </div>
                        <div class="form-group m-0 p-0 col-md-6">
                           <select class="form-control" id="exampleFormControlSelect1">
                              <option>Relationship to Child</option>
                              <option>Father</option>
                              <option>Mother</option>
                              <option>Gurdian</option>
                           </select>
                        </div>
                        <div class="form-group col-md-6">
                           <input type="number" class="form-control" placeholder="Number of Siblings ">
                        </div>
                        <div class="form-group col-md-6">
                           <input type="text" class="form-control" placeholder="Contact ie +256 07xxxx ">
                        </div>
                        <div class="form-group col-md-6">
                           <input type="text" class="form-control" placeholder="Place of Residence / Country and City ">
                        </div>
                        <div class="form-group col-md-6">
                           <input type="text" class="form-control"
                              placeholder="Student's Sponsorship number example U123 xxx ">
                        </div>
                        <div class="form-group col-md-6">
                           <label for="customFile" class="col-sm-5 col-form-label">Map attouchment</label>
                           <div class="col-sm-6">
                              <input type="file" class="custom-file-input" id="customFile" style="height: 80px;">
                           </div>
                        </div>
                        <a class="btn btn-default pull-right" style="background:darkblue;color:aliceblue;">register</a>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
      <div id="reportsdiv" style="display:none ;">
         {{!-- Reports left menu --}}
         <div class="col-md-2 col-sm-2 hidden-xs">
            <div class="row">
               <div class="card">
                  <ul class="list-group">
                     <li class="list-group-item">Anual Repors</li>
                     <li class="list-group-item">Termly Reports</li>
                     <li class="list-group-item">General Reports</li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="col-md-10">
            <div class="panel panel-primary">
               <div class="panel-heading" style="background: darkblue;">Reports</div>
               <div class="panel-body">
                  There are No reports Yet....
               </div>
            </div>
         </div>
      </div>
      <div id="scholarsdiv" style="display:none ;">
         <div class="col-md-2">scholars left</div>
         <div class="col-md-10"> here div</div>
      </div>

   </div>
</div>
<script src="javascripts/main.js"></script>