<style>
   .nav-tabs li {
      cursor: pointer;
      font-size: 11px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   }
</style>
<link rel="stylesheet" href="stylesheets/">
<div class="container">
   <div class="menus" style="margin-top: 10px;">
      <div class="row">
         <ul class="nav nav-tabs">
            <li class="active"><a href="/student/register_student">Register Student</a></li>
            <li><a href="/student/register_parent">Register Parent</a></li>
            <li><a href="/student/reports">Register Parent</a></li>
            <li><a>Scholars</a></li>
         </ul>
      </div>
      <script src="javascripts/main.js"></script>