<link rel="stylesheet" href="/public/stylesheets/style.css">
<div class="menus">
   <ul class="nav nav-tabs">
      <li class="active"><a href="#">Register Student</a></li>
      <li><a href="#">Register Parent</a></li>
      <li><a href="#">Reports</a></li>
      <li><a href="#">Scholars</a></li>
   </ul>
</div>
<div class="container-fluid" style="margin-top: 5px;">
   <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-10"></div>
   </div>
</div>