<div class="registerStudentForm">
   <div id="allstudents">
      <div class="panel panel-primary">
         <div class="panel-heading" style="background: darkblue;">All Students</div>
         <div class="panel-body">
            Reports here
         </div>
      </div>
   </div>

</div>