body {
  font-display: none;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
 
}

a {
  color: #00B7FF;
}
.btn{
  width: 25%;
  background: darkblue;
}
#logindiv{
  margin-top: 170px;
}
.form-group{
  border: none !important;
  margin: opx;
  padding: 8px;
}
.navbar{
 border-bottom:5px solid darkblue !important;

}
#logo{
  color: darkblue;
}
#register{
  margin-top: 200px;
  background: red;
}

   .menus {
      margin-top: 10px;

   }
   .nav-tabs li{
     font-size: 11px;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   }

   /* leftCard */
   .card{
    height: 500px; 
    background:rgba(128, 128, 128, 0.034);
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
   }
   .card ul li:hover{
     background:darkblue;
     color: rgba(128, 128, 128, 0.863);
   }
   .registerStudentForm .form-group{
    border: none !important;
    margin: opx !important;
    padding: 2px;

   }